textarea,
input,
.sapMSF,
.sapMSFF,
.sapMSlt,
.sapMInputBase {
    border-radius: 3px;
}

.twobmBorderBottom {
    border-bottom: 1px solid #ddd;
}

.sapMIBar.twobmFooter {
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 47px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
}

.twobmBlack {
    color: #333;
}

.twobmMarginTop {
    margin-top: 1px;
}

.twobmNoPaddingLeft.sapMTB {
    padding-left: 0px;
}

.twobmCustomListItem .sapMObjLTopRow {
	margin-bottom: -5px;
}

.twobmCustomListItem .sapMObjLBottomRow {
	margin-top: 0px !important;
}

.twobmCustomListItem .sapMObjLBottomRow .sapMObjLAttrRow {
	padding-top: 0px !important;
}


/* CUSTOM CSS TO HIDE SEARCH FIELD ON ORDER DETAIL */

.twobmHeightZero > .sapMSFF {
    height: 0px;
    border: none;
}

.twobmHeightZero > .sapMSFF > .sapMSFI,
.twobmHeightZero > .sapMSFF > .sapMSFB {
    color: #fafafa;
}

.twobmDisableManualInput input{
 pointer-events: none;
 color: transparent;
 text-shadow: 0 0 0 gray;
}


/* CUSTOM CSS TO HIDE SEARCH FIELD ON ORDER DETAIL END */